In [329]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [330]:
data = pd.read_csv('d:/SkillFactory/module_1/movie_bd_v5.csv')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
801,tt0905372,35000000,28128670,The Thing,Mary Elizabeth Winstead|Joel Edgerton|Ulrich T...,Matthijs van Heijningen Jr.,It's Not Human. Yet.,When paleontologist Kate Lloyd travels to an i...,103,Horror|Science Fiction|Mystery|Thriller,Universal Pictures|Strike Entertainment|Morgan...,10/12/2011,6.0,2011

# Предобработка

In [331]:
answers = {}    # create a dictionary for answers

data['release_date'] = pd.to_datetime(data['release_date']) # change format to datetime64[ns]

data['profit'] = round(data['revenue'] - data['budget'], 2).astype(float)   # create a column 'profit'
data['release_month'] = data.release_date.dt.strftime("%B").astype(object)  # create a column 'release_month'
data['len_title'] = data['original_title'].str.len()    # create a column 'len_title'
data['word_count'] = data['original_title'].str.count(' ') + 1  # create a column 'word_count'

"""function that splits strings into substrings"""

def df_explode(df, col):
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    return df

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [332]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [333]:
data.sort_values(['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000.0,May,43,7

ВАРИАНТ 2

In [334]:
data.groupby(['original_title'])[['budget']].max().sort_values(['budget'], ascending=False).head(1)

                                                budget
original_title
Pirates of the Caribbean: On Stranger Tides  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [335]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [336]:
data.sort_values(['runtime'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064.0,February,17,3

# 3. Какой из фильмов самый короткий (в минутах)?

In [337]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [338]:
data.sort_values(['runtime']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000.0,April,15,3

# 4. Какова средняя длительность фильмов?

In [339]:
answers['4'] = '110 minutes'

In [340]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [341]:
answers['5'] = '107 minutes'

In [342]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?

In [343]:
answers['6'] = '239. Avatar (tt0499549)'

In [344]:
data.sort_values(['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2.544506e+09,December,6,1

# 7. Какой фильм самый убыточный?

In [345]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [346]:
data.sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090.0,July,15,3

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [347]:
answers['8'] = '1478'

In [348]:
data[(data.profit > 0)].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
release_month           1478
len_title               1478
word_count              1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [349]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [350]:
data[(data.release_year == 2008)].sort_values(['revenue'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825.0,July,15,3

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [351]:
answers['10'] = '1245. The Lone Range (tt1210819)'

In [352]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)
    ].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090.0,July,15,3

# 11. Какого жанра фильмов больше всего?

In [353]:
answers['11'] = 'Drama'

In [354]:
data_11 = data.copy()
data_11 = df_explode(data_11, 'genres')
data_11.groupby(by='genres')['genres'].value_counts(
    ).sort_values(ascending=False).head(1)

genres  genres
Drama   Drama     782
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [355]:
answers['12'] = 'Drama'

In [356]:
data_12 = data.copy()
data_12 = df_explode(data_12, 'genres')
data_12 = data_12[(data_12.profit > 0)]
data_12.groupby(by='genres')['genres'].value_counts(
    ).sort_values(ascending=False).head(1)

genres  genres
Drama   Drama     560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [357]:
answers['13'] = 'Peter Jackson'

In [358]:
data_13 = data.copy()
data_13 = df_explode(data_13, 'director')
data_13.groupby(by='director')['revenue'].sum(
    ).sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [359]:
answers['14'] = 'Robert Rodriguez'

In [360]:
data_14 = data.copy()
data_14 = df_explode(data_14, 'director')
data_14 = df_explode(data_14, 'genres')
data_14[data_14['genres'] == "Action"].groupby(by='director')['genres'].count(
    ).sort_values(ascending=False).head(1)

director
Robert Rodriguez    9
Name: genres, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [361]:
answers['15'] = 'Chris Hemsworth'

In [362]:
data_15 = data.copy()
data_15 = df_explode(data_15, 'cast')
data_15[data_15['release_year'] == 2012].groupby(by='cast')['revenue'].sum(
    ).sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [363]:
answers['16'] = 'Matt Damon'

In [364]:
data_16 = data.copy()
data_16 = df_explode(data_16, 'cast')
data_16[data_16.budget > data_16.budget.mean()].groupby(by='cast')['budget'].count(
    ).sort_values(ascending=False).head(1)

cast
Matt Damon    18
Name: budget, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [365]:
answers['17'] = 'Action'

In [366]:
data_17 = data.copy()
data_17 = df_explode(data_17, 'cast')
data_17 = df_explode(data_17, 'genres')
data_17[data_17.cast == 'Nicolas Cage'].groupby(by='cast')['genres'].value_counts(
    ).sort_values(ascending=False).head(1)

cast          genres
Nicolas Cage  Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [367]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [368]:
data_18 = data.copy()
data_18 = df_explode(data_18, 'production_companies')
data_18 = data_18[data_18.production_companies == 'Paramount Pictures']
data_18.sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,2002-07-19,6.0,2002,-64831034.0,July,20,3

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [369]:
answers['19'] = '2015'

In [370]:
pivot = data.pivot_table(values=['revenue'],
index=['release_year'],
aggfunc='sum',
fill_value=0)
pivot.max(axis=1).sort_values(ascending=False).head(1)

release_year
2015    25449202382
dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [371]:
answers['20'] = '2014'

In [372]:
data_20 = data.copy()
data_20 = df_explode(data_20, 'production_companies')
data_20 = data_20[data_20.production_companies.str.contains("Warner Bros", na=False)]

pivot2 = data_20.pivot_table(values=['profit'],
index=['release_year'],                    
aggfunc='sum',
fill_value=0)
pivot2.max(axis=1).sort_values(ascending=False).head(1)

release_year
2014    2292949646
dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [373]:
answers['21'] = 'Сентябрь'

In [374]:
data.release_month.value_counts().sort_values(ascending=False).head(1)

September    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [375]:
answers['22'] = '450'

In [376]:
data_22 = data[data.release_month.isin(['June', 'July', 'August'])].copy()
data_22.release_month.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [377]:
answers['23'] = 'Peter Jackson'

In [378]:
data_23 = data[data.release_month.isin(['December', 'January', 'February'])].copy()
data_23 = df_explode(data_23, 'director')
data_23.groupby(by='director')['director'].value_counts().sort_values(ascending=False).head(1)

director       director
Peter Jackson  Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [379]:
answers['24'] = 'Four By Two Productions' # the answer wasn't checked

In [380]:
data_24 = data.copy()
data_24 = df_explode(data_24, 'production_companies')
data_24.sort_values(['len_title'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,word_count
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,2006-11-02,6.4,2006,243572744.0,November,83,12

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [381]:
answers['25'] = 'Four By Two Productions' # no answer option

In [382]:
pivot3 = data_24.pivot_table(values=['word_count'],
index=['production_companies'],                    
aggfunc='mean',
fill_value=0)
pivot3.max(axis=1).sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    12.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [383]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [384]:
x = 1888//100   # number of films in 1%
data_26 = data.copy()
cols = ['original_title', 'vote_average']
data_26 = data_26[cols]
data_26.sort_values('vote_average', ascending=False).head(x)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [385]:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110 minutes',
 '5': '107 minutes',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Range (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Four By Two Productions',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [386]:
len(answers)

26